<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/"></base>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Budget app</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="assets/styles/main.css" rel="stylesheet">
    </head>
    <body>

        <main></main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="http://cdn.ractivejs.org/latest/ractive.min.js"></script>
        <script src="https://cdn.jsdelivr.net/ractive.load/latest/ractive-load.min.js"></script>
        <script src="https://rawgit.com/formvalidation/formvalidation/master/dist/js/formValidation.min.js"></script>
        <script src="assets/scripts/app.js"></script>
    </body>
</html>
