{{>header}}

<main class="js-newTransactionView">
    {{!
    <div class="container">
        <section class="js-post-list-container">
            <ul class="c-post-list js-post-list"></ul>
        </section>
    </div>
    }}
    <div class="row">
        <form class="col s12 js-newTransactionForm" action="/submit" method="post">
            <div class="row">
                <div class="input-field col s12 m6">
                    <p>
                        <input name="type" type="radio" id="input_type_expense" value="expense">
                        <label for="input_type_expense">Expense</label>
                    </p>
                    <p>
                        <input name="type" type="radio" id="input_type_income" value="income">
                        <label for="input_type_income">Income</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="input_amount" name="amount" type="number" step="any" class="validate">
                    <label for="input_amount">Amount ($)</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="input_category" name="category" type="text" class="validate">
                    <label for="input_category">Category</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="timestamp" type="date" class="validate datepicker">
                </div>
                <div class="input-field col s12 m6">
                    <input id="input_description" name="description" type="text" class="validate">
                    <label for="input_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                </div>
                <div class="input-field col s12 m6 right-align">
                    <button class="btn waves-effect waves-light" type="submit">Save
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
            <div class="row c-loader js-newTransactionMessage">
                <h3>Transaction saved</h3>
            </div>
        </form>
    </div>
</main>