<header class="c-header">
    <h1 class="c-header_heading h2">{{headerTitle}}</h1>
</header>
<nav class="c-navigation">
    <ul class="c-navigation_list">
        <li class="c-navigation_item">
            <a class="c-navigation_link" href="#">New view</a>
        </li>
        <li class="c-navigation_item">
            <a class="c-navigation_link" href="#">List view</a>
        </li>
    </ul>
</nav>