<div class="row" intro="fade:{delay:{200}}">
    <div class="col s12">
        <div class="col s12">
            <h4>Recent transactions</h4>
        </div>
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th class="sortable{{#if sortColumn === 'amount'}} sorted{{/if}}" on-tap="sort:amount">
                            Amount
                        </th>
                        <th class="sortable{{#if sortColumn === 'category'}} sorted{{/if}}" on-tap="sort:category">
                            Category
                        </th>
                        <th class="sortable{{#if sortColumn === 'creationDate'}} sorted{{/if}}" on-tap="sort:creationDate">
                            Date
                        </th>
                    </tr>
                </thead>

                <tbody>
                {{#sortedTransactions}}
                    <tr intro="fade:{delay:{800 + (i * 100)}}">
                        <td><span style="color: {{ (type == 1) ? 'green' : 'red' }};">{{amount}}</span></td>
                        <td>{{category}}</td>
                        <td>{{creationDate}}</td>
                    </tr>
                {{/sortedTransactions}}
                </tbody>
            </table>
        </div>
    </div>
</div>
