
// Main navigation
// ======================================================
body
    @media (max-width: toSmall)
        padding-bottom headerHeight
        padding-top headerHeight

    @media (min-width: fromSmall)
        padding-top rem(headerHeight * 2)