
// Chosen jQuery
// ======================================================
select
    display block
    width 100%

.chosen-container-single
    border-bottom 1px solid transparent;
    margin 0 0 15px 0

    .chosen-single
        height 3rem
