<!-- <div class="main-container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="col-sm-1">
            <a href="/">
                <h3>Notetaker</h3>
            </a>
        </div>
        <div class="col-sm-7 col-sm-offset-1" style="margin-top: 15px;">
            <SearchUser placeholder="Type a GitHub username..." />
        </div>
    </nav>
    <div class="container">
        <Router componentName="{{componentName}}"/>
    </div>
    {{#errorMsg}}
        <div class="alert alert-danger alert-dismissible" style="position: absolute; top: 80px; right: 10px;" role="alert">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error:</strong> {{errorMsg}}
        </div>
    {{/errorMsg}}
</div> -->
<header class="c-header" intro="fade">
    <h1 class="c-header_heading h2">{{headerTitle}}</h1>
</header>
<nav class="c-navigation" intro="fade">
    <ul class="c-navigation_list">
        <li class="c-navigation_item">
            <a class="c-navigation_link" href="/">New view</a>
        </li>
        <li class="c-navigation_item">
            <a class="c-navigation_link" href="/list">List view</a>
        </li>
    </ul>
</nav>
<Router componentName="{{componentName}}"/>
